/*src\styles\components\Header.css*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #556c81; */
  /* 米色 */
  color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 1px 5px #696969;
  z-index: 1000;
  font-family: 'Orbitron', sans-serif;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 75px;
  color: rgb(0, 0, 0);
}

.header-right {
  font-size: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}