.home-container {
  margin-top: 150px;
  margin-bottom: 50px;
  /*gird排版*/
  display: grid;
  grid-template-columns: 70%;
  grid-gap: 100px 0;
  justify-content: center;

}

.home-container section {
  /*位置*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*細節*/
  background-color: #e4e4d4;
  font-family: 'Open Sans';
  font-size: 30px;
  color: #020028;
  text-align: center;
  border-radius: 10px;
  min-height: 300px;
}

.section.welcome-section {
  /*細節*/
  background-color: #ffffff;
  justify-content: space-between;
  margin: 0;
}

.welcome-container {
  /*位置*/
  display: flex;
  flex: auto;
  align-items: center;
  gap: 2rem;
  /*細節*/
  max-width: 1200px;
  min-height: 300px;
  margin: 0;
}

.welcome-left {
  /*flex排版*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  /*位置*/
  flex: 4;
  text-align: left;
  justify-content: space-between;
  /*範圍*/
  min-height: 300px;
  /*細節*/
  font-family: 'Orbitron', sans-serif;
}

.welcome-left h2 {
  /*細節*/

  font-size: 60px;
}

.welcome-left p {
  /*細節*/
  font-size: 60px;
}


.welcome-right {
  /*位置*/
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /*範圍*/
  min-height: 300px;
  /*細節*/
}

.avatar-placeholder {
  /*位置*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*範圍*/
  width: 300px;
  height: 300px;
  /*細節*/
  background-color: #aaaa;
  border-radius: 3px;
  font-weight: bold;
}

.avatar-placeholder img {
  /*位置*/
  display: block;
  /*範圍*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.Skills-section {
  /*排版*/
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /*細節*/
  background-color: #242424;
  font-weight: bold;
  color: azure;

}

.Skills-title {
  /*細節*/
}

.Skills-grid {
  /*排版*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  /*細節*/
  font-size: 2rem;
}

.section.experience-section {
  /*排版*/
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /*細節*/
  background-color: #270505;
  font-weight: bold;
  color: rgb(255, 246, 219);
}

.experience-title {
  /*細節*/
}

.experience-grid {
  /*細節*/
}