.home-container {
  margin-top: 57px;
  /*gird排版*/
  display: grid;
  grid-template-columns: 70%;
  grid-gap: 100px 0;
  justify-content: center;
}

.home-container section {
  /*位置*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*細節*/
  font-family: 'Open Sans';
  font-size: 30px;
  color: #ffc020;
  text-align: center;
  min-height: 300px;
  border-radius: 20px;
}

.section.welcome-section {
  /*細節*/
  /* background-color: rgba(152, 152, 152, 0.75); */
  justify-content: space-between;
  margin-top: 80px;
}

.welcome-container {
  /*位置*/
  display: flex;
  flex: auto;
  align-items: center;
  gap: 2rem;
  /*細節*/
  max-width: 1200px;
  min-height: 300px;
  margin: 0;
}

.welcome-left {
  /*flex排版*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  /*位置*/
  flex: 4;
  text-align: left;
  justify-content: space-around;
  /*範圍*/
  min-height: 300px;
  /*細節*/
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px;
}

.welcome-left h2 {
  /*細節*/
  background-color: rgba(152, 152, 152, 0.75);
  font-size: 50px;
}

.welcome-left p {
  /*細節*/
  background-color: rgba(152, 152, 152, 0.75);
  font-size: 30px;
}


.welcome-right {
  /*位置*/
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /*範圍*/
  min-height: 300px;
  /*細節*/
}

.avatar-placeholder {
  /*位置*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*範圍*/
  width: 300px;
  height: 300px;
  /*細節*/
  font-weight: bold;
}

.avatar-placeholder img {
  /*位置*/
  display: block;
  /*範圍*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.section.Skills-section {
  /*排版*/
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /*細節*/
  background-color: rgba(152, 152, 152, 0.75);
  font-weight: bold;
  color: azure;
}

.Skills-title {
  /*位置*/
  display: flex;
  align-items: center;
  flex: 0.8;
  /*細節*/
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
}

.Skills-grid {
  /*位置*/
  flex: 1;
  /*排版*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  /*細節*/
  align-items: center;
  font-size: 2rem;
  font-family: Georgia, serif;
}

.Skills-grid div {
  /*排版*/
  display: flex;
  flex-direction: column;
  /*位置*/
  align-items: center;
  justify-content: center;
  min-width: 160px;
  gap: 10px;
}

.Skills-grid img {
  width: 40px;
  height: 40px
}

.section.experience-section {
  /*排版*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /*細節*/
  background-color: rgba(152, 152, 152, 0.75);
  font-weight: bold;
  color: rgb(255, 246, 219);
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 80px;
}

.experience-title {
  /*位置*/
  display: flex;
  align-items: center;
  flex: 0.8;
  /*細節*/
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
}

.experience-grid {
  /*位置*/
  flex: 1;
  /*排版*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  /*細節*/
  align-items: center;
  font-size: 30px;
  font-family: Georgia, serif;
}

.experience-grid img {
  /*細節*/
  width: 50px;
  height: 50px
}