/*src\styles\PostsPage.css*/
.posts-page {
  /*位置*/
  /* margin-top: 80px; */
  padding-top: 120px;
  min-height: 100vh;
  /*細節*/
  color: #6d7bff;
  background-color: rgba(0, 0, 0, 0.6);
}

.posts-wrapper {
  width: 70%;
  max-width: 1200px;
  color: rgb(255, 192, 32);
  margin: auto;
}

.title-section {
  margin-bottom: 2rem;
  text-align: center;
}

.title-section h1 {
  font-size: 48px;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 1rem;
}

.options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: rgb(1, 1, 1);
}

.options-container h3 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.options-container h3:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.posts-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.post-container-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* 每一篇文章卡片樣式 */
.post-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 12px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.post-container:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 192, 32, 0.25);
  color: #000000;
}

.article-title h2 {
  font-size: 24px;
  color: #433d3d;
}

.article-brief p {
  color: #433d3d;
  line-height: 1.5;
  font-size: 16px;
}

.article-tag span {
  margin-right: 1rem;
  background-color: #333;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  font-size: 14px;
  color: #f4f4f4;
}

.article-information {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #aaa;
}

/* 分頁器 */
.pagination-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.pagination-section button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-section button:hover {
  background-color: #666;
}

.pagination-section button.active {
  background-color: #ffcc70;
  color: #222;
}